.container {
  font-size: 1.5em;

}
.navbar{

}

.jumbotron{
  margin-top: 2%;
  border-style: solid;


}

.circle{
  border-radius: 50%;
  border-style: solid;
  float: right;
  width: 150px;
  height: 150px;

}

#Name{
  text-align: center;
}

.nav-link{

}

#about{
  border-style: solid;

}

#experience{
  border-style: solid;
  margin-left:5%;
}
