.container {
  font-size: 1.5em;

}
.navbar{

}

.jumbotron{

  border-style: solid;

}

.circle{
  border-radius: 50%;
  border-style: solid;
  float: right;
}

#Name{
  text-align: center;
}

.nav-link{

}

#about{
  border-style: solid;

}

#experience{
}
